.players {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem;
  margin-bottom: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--arash-primary-clr);
  width: max-content;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.player img {
  width: 150px;
  height: 187px;
  object-fit: cover;
  object-position: 50% 20%;
  z-index: -1;
}

/* .isPlayerSelected {
    background-color: rgba(66, 211, 0, 0.4);
  }
  
  .qrModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 1000px var(--arash-black-clr);
  }
  
  .qrModal > h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .confirmBtn {
    width: 200px;
  }
  
  .btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .scrollBtn {
    width: 40px !important;
    height: 40px !important;
    min-width: 0 !important;
    padding: 0 !important;
    border-radius: 50%;
    color: var(--arash-white-clr);
  }
  
  .scrollBtn > * {
    font-size: xx-large !important;
  } */
