@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  overflow-x: hidden !important;  
  /* background-color: #f73838; */
}
/* :root {
  --top-menu-height: 64px;
  --mobile-breakpoint: 600px;
} */
